.list-group a:hover {
 
 color : #009cff; 
 cursor: pointer ;
 border-radius: 100px;
}
.bor{
  color: #009cff;
} 
 
 
.dash{
  color : #009cff; 
}
.nav-item a:hover {
  color : #009cff; 
  cursor: pointer;
}
.cole :hover{
  color : #009cff; 
  cursor: pointer;
}  
